<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>

        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
<!--    이 패키지 내의 모든 클래스에 대해 별칭을 생성, 해당 부분 생략-->
    <typeAliases>
        <package name="org.scoula.board.domain" />
    </typeAliases>
</configuration>
